@import 'reset';

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto;
    // align-items: center;
    grid-template-areas: 
        "header" 
        "main"
        "footer";
}

.addFav{
    opacity: 1;
    color:#7DCE82;
}

header{
    grid-area: header;
    background-color: #FF8360;
    // height: 30px;
    .header-cont{
        padding: 20px 50px;
        display: grid;
        // align-items: center;
        grid-template-areas: "logo nav-links nav-links";       
        align-items: center;
            
        .logo{
            grid-area: logo;
            color: black;
            font-weight: bold;
            font-size: 1.8em;   
            .icon{
                display: inline-block;
                background-image: url("../assets/beer.png");
                height: 16px;
                width: 16px;
            }
        }
        .main-nav{
            grid-area: nav-links;
            justify-self: end;

            .nav-links{
                display: flex;
                flex-direction: row;
                li{
                    margin-left: 30px;
                    color: black;
                }
            }
        }
    }
    
}

.beers{
    grid-area: main;
    justify-content: center;

    padding: 50px 150px; 
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "card card card";

    .search{
        grid-area: 1/1/1/4 ;
        justify-self: center;
        
        input:first-child{
            
            width: 500px;
            height: 30px;
            font-size: 1.2em;
            color: #3CDBD3;            
        }
        input::placeholder{
            color: #3CDBD3;
            font-size: .8em;
        }
        input:last-child{
            width: 150px;
            height: 36px;
            font-size: 1.2em;
            background-color: #7DCE82;
            color: rgba(0,0,0,0.7);
            border: none;
        }
    }
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        .beer-img{
            width: 180px;
            height: 180px;
        }

        .info{
            padding: 8px 12px;
            padding-left: 0;
            padding-top: 4px;
            text-align: right;
            i{
                opacity: 0.5;
            }
            h4{
                margin-bottom: 8px;
                font-weight: bold;
                font-size: 1.2em;
                text-align: left;
            }
            p{
                text-align: left;
                font-size: 0.9em;
            }
        }
    }
    .card:hover {
        box-shadow: 0 8px    16px 0 rgba(60,219,211,0.5);
    }
}

footer{
    grid-area: footer;

    text-align: center;
    background-color: #E8E288;
    align-self: center;
    padding: 20px 0;

    a{
        color: black;
    }

}